html
	head
		link(rel="stylesheet", href="/css/style.css")
		script(src="/node_modules/angular/angular.min.js")
		script(src="/node_modules/jquery/dist/jquery.min.js")
		title= title
	body
		h1= message