<h1>Welcome to the <em>END GAME</em></h1>

<ul>
  <li
    ng-repeat="file in $ctrl.files"
    ng-click="$ctrl.selectFile(file)"
    ng-class="{selected: file._id === $ctrl.selectedFile._id}">
    <a href="#!/files/{{file._id}}">{{file.title}}</a>
  </li>
</ul>

<button ng-click="$ctrl.createFile()">Add File</button>

<edit-file
  ng-show="$ctrl.selectedFile"
  file="$ctrl.selectedFile"
  on-create="$ctrl.onCreate(file)"
  on-update="$ctrl.onUpdate(file)"
  on-delete="$ctrl.onDelete(file)"
  ></edit-file>
