<ul>
  <li
    ng-repeat="file in $ctrl.files"
    ng-click="$ctrl.selectFile(file)"
    ng-class="{selected: file._id === $ctrl.selectedFile._id}">
    <h2>{{file.title}}</h2>
    <p>{{file.filename}}</p>
  </li>
</ul>


<div ng-show="$ctrl.selectedFile">
  <h4>Editing: {{$ctrl.selectedFile.title}}</h4>
  <fieldset>
    <div>
      <label>Title: <input ng-model="$ctrl.selectedFile.title" /></label>
    </div>
    <div>
      <label>Filename: <input ng-model="$ctrl.selectedFile.filename" /></label>
    </div>
    <div>
      <button ng-click="$ctrl.updateFile($ctrl.selectedFile)">Update File</button>
      <button ng-click="$ctrl.deleteFile($ctrl.selectedFile)">Delete</button>
    </div>
  </fieldset>
</div>
