doctype html
html(ng-app="fileListApp")
	head
		link(rel="stylesheet", href="/css/style.css")
		script(src="/node_modules/angular/angular.min.js")
		script(src="/node_modules/angular-route/angular-route.js")
		script(src="/node_modules/jquery/dist/jquery.min.js")
		title= title
		script(src="/js/module/app.module.js")
		script(src="/js/config/app.config.js")
		script(src="/js/module/file-list.module.js")
		script(src="/js/module/file-detail.module.js")
		script(src="/js/component/file-list.component.js")
		script(src="/js/component/edit-file.component.js")
		script(src="/js/component/file-detail.component.js")
	body
		div(ng-view)
